<html>
<head>
    <title>ERROR</title>
</head>
<body>
    
<h1> ERROR </h1>

<h4> <%=message%> </h4>

<style>
.indented {
  padding-left: 25pt;
  padding-right: 25pt;
}
</style>

<div class="indented">
<%=offenders%>
</div>

<h4> <%=helper%> </h4>

<div class="indented">
<%=helper2%>
</div>

</body>
</html>
