<html>
<head>
    <title>BiocHub Server API</title>
</head>
<body>

<h1> BiocHub Server API </h1>

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 20px;    
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.indented {
  padding-left: 50pt;
  padding-right: 50pt;
}

</style>

<br />
<br />

<div class="indented">

<table border="1"> 

    <tr>
        <th>API</th>
        <th>DESCRIPTION</th>
    </tr>
    <tr>
        <td>/metadata/<%=dbname%></td>
        <td>Download database</td>
    </tr>
    <tr>
        <td>/metadata/schema_version</td>
        <td>Retrieve database schema version</td>
    </tr>
    <tr>
        <td>/metadata/database_timestamp</td>
        <td>Retrieve database time stamp. Indicates when database was last modified</td>
    </tr>
    <tr>
        <td>/metadata/highest_id</td>
        <td>Retrieve the current highest id in database</td>
    </tr>
    <tr>
        <td>/id/:id</td>
        <td>Summary of specified resource</td>
    </tr>
    <tr>
        <td>/ahid/:id</td>
        <td>Summary of specified resource matching by ah_id</td>
    </tr>
    <tr>
        <td>/recordstatus/:id</td>
        <td>Retrieve status of specified id. Use ah_id for id. Indicates if the
    resource is public or has been removed or replaced</td>
    </tr>
    <tr>
        <td>/query/:qry</td>
	<td>Query resources. All queries are 'AND'. The format is the query
	field with specific search terms for that field in
	parenthesis. Multiple search terms are identified with a comma (,).<br />  An
	example format:<br /> <code>/query/genome(hg38) description(splicing events, junctions)</code></td>  
    </tr>
    <tr>
        <td>/newerthan/:date</td>
        <td>List resources added after specified date. date in format 2018-08-12</td>
    </tr>
    <tr>
        <td>/package/:pkg</td>
        <td>List all resources for a given Bioconductor package. Matches on
    first entry of rdatapath</td>
    </tr>
    <tr>
        <td>/package2/:pkg</td>
        <td>List all resources for a given Bioconductor package. Matches on
    preparerclass </td>
    </tr>
    <tr>
        <td>/title/:ttl</td>
	<td>List resources that contain the search terms in the title. can be any number of terms seperate with space</td>  
    </tr>
    <tr>
        <td>/description/:desc</td>
	<td>List resources that contain the search terms in the description. can be any number of terms seperate with space</td>  
    </tr>
    <tr>
        <td>/dataprovider</td>
	<td>List available dataproviders</td>  
    </tr>
    <tr>
        <td>/dataprovider/:dp</td>
	<td>List resources that match specified  dataprovider</td>  
    </tr>
    <tr>
        <td>/species</td>
	<td>List available species</td>  
    </tr>
    <tr>
        <td>/species/:spc</td>
	<td>List resources that match specified species</td>  
    </tr>
    <tr>
        <td>/taxonomyid</td>
	<td>List available taxonomy id</td>  
    </tr>
    <tr>
        <td>/taxonomyid/:tax</td>
	<td>List resources that match specified taxonomy id</td>  
    </tr>
    <tr>
        <td>/genome</td>
	<td>List available genome</td>  
    </tr>
    <tr>
        <td>/genome/:gn</td>
	<td>List resources that match specified genome</td>  
    </tr>
    <tr>
        <td>/rdataclass</td>
	<td>List available rdataclass. When the resource is loaded
	through the Bioconductor AnnotationHub/ExperimentHub interface, this
	will be the class of the R object</td>  
    </tr>
    <tr>
        <td>/rdataclass/:rdc</td>
	<td>List resources that match specified rdataclass</td>  
    </tr>
    <tr>
        <td>/rdatapath/:rdp</td>
	<td>List resources that contain the search terms in the rdatapath. can be any number of terms seperate with space</td>  
    </tr>
    <tr>
        <td>/sourcetype</td>
	<td>List available source type. This is the original source data type.</td>  
    </tr>
    <tr>
        <td>/sourcetype/:srct</td>
	<td>List resources that match specified sourcetype.</td>  
    </tr>
    <tr>
        <td>/sourceversion</td>
	<td>List available source versions. This is the original version of
	source data.</td>  
    </tr>
    <tr>
        <td>/sourceversion/:srcv</td>
	<td>List resources that match specified sourceversion.</td>  
    </tr>
    <tr>
        <td>/sourceurl/:src</td>
	<td>List resources that contain the search terms in the sourceurl. can be any number of terms seperate with space</td>  
    </tr>
    <tr>
        <td>/fetch/:id</td>
        <td>Download the specified resource. Matched on rdatapaths.id</td>
    </tr>


</table>
</div>

<br />
<br />
<br />
<br />
<br />

<div class="indented">

<table border="1"> 
    <tr>
        <th>HTTP Method</th>
        <th>API</th>
        <th>DESCRIPTION</th>
    </tr>
    <tr>
        <td colspan="3"><strong>The following are protected</strong></td>
    </tr>
    <tr>
        <td>POST:</td>
        <td>/resource</td>
        <td></td>
    </tr>
    <tr>
        <td>DELETE:</td>
        <td>/resource/:id</td>
	<td>Marks resource as expired. Matches on resource id</td>
    </tr>

</table>
</div>

</body>
</html>
