<html>
<head>
    <title>AnnotationHub Server 3.0 API</title>
</head>
<body>
    <pre>
GET:
/metadata/schema_version
/metadata/highest_id
/metadata/<%=dbname%>

/fetch/:id # id => rdatapaths.id

POST: (protected)
/resource

DELETE: (protected)
/resource/:id # id => resources.id, marks resource as expired





    </pre>


</body>
</html>