<html>
<head>
    <title>BiocHub Server API</title>
</head>
<body>
    <pre>
GET:
/metadata/<%=dbname%>
/metadata/schema_version
/metadata/database_timestamp
/metadata/highest_id
/id/:id
/ahid/:id
/newerthan/:date     # date in format 2018-08-12
/package/:pkg        # uses rdatapath
/package2/:pkg       # uses preparerclass (accurate for ExperimentHub)
/title/:ttl          # can be any number of terms seperate with space
/description/:desc   # can be any number of terms seperate with space
/dataprovider        # lists possible dataproviders
/dataprovider/:dp

/fetch/:id # id => rdatapaths.id

POST: (protected)
/resource

DELETE: (protected)
/resource/:id # id => resources.id, marks resource as expired





    </pre>


</body>
</html>
