<html>
<head>
    <title>BiocHub Server Results</title>
</head>
<body>
    
<h4> <%=message%> </h4>

<style>
.indented {
  padding-left: 25pt;
  padding-right: 25pt;
}
</style>

<div class="indented">
<%=values%>
</div>


</body>
</html>
