<html>
<head>
    <title>BiocHub Server API</title>
</head>
<body>

<h1> BiocHub Server API </h1>

    <pre>
GET:

/metadata/<%=dbname%>
/metadata/schema_version
/metadata/database_timestamp
/metadata/highest_id
/id/:id
/ahid/:id
/recordstatus/:id    # use ahid; public or removed
/newerthan/:date     # date in format 2018-08-12
/package/:pkg        # uses rdatapath
/package2/:pkg       # uses preparerclass (accurate for ExperimentHub)
/title/:ttl          # can be any number of terms seperate with space
/description/:desc   # can be any number of terms seperate with space
/dataprovider        # lists possible dataproviders
/dataprovider/:dp
/species
/species/:spc
/taxonomyid
/taxonomyid/:tax
/genome
/genome/:gn
/rdataclass
/rdataclass/:rdc
/rdatapath/:rdp
/sourcetype
/sourcetype/:srct
/sourceversion
/sourceversion/:srcv
/sourceurl/:src
/query/:qry          # format:  /query/genome(hg38) description(splicing events, junctions)
		     # /query/species(Aspergillus sydowii) rdataclass(GRanges) sourceurl(Fungi, release-33)
		     # All queries are AND




/fetch/:id           # id => rdatapaths.id , this will download the resource




POST: (protected)
/resource

DELETE: (protected)
/resource/:id # id => resources.id, marks resource as expired





    </pre>


</body>
</html>
